.card {
  margin-bottom: 25px;
  border-color: #6c757d ;
}
.card-header {
  background-color: #6c757d;
  color: #fff;
}
.divider {
  border-color: #6c757d;
  background-color: #6c757d;
  text-align: center;
}
h1 {
  padding-top: 25px;
  padding-bottom: 25px;
} 
.text-success {
  font-weight: 700;    
}
